<div style="background-color: #091634; margin-top: 0px; left: -20px; width: 100vw; height:100vh" class="container-fluid">
    <Test></Test>
    
    <div class="row">
        <div style="background-color: yellow" class="column left">
            <div>
                Logo
            </div>
            <div>
                Button
            </div>
        </div>
        <div style="background-color: green" class="column right">
            another
        </div>
    </div>
</div>

@code {
    
}