<div style="background-color: #091634; margin-top: 0px; left: -20px; width: 100vw; height:100vh" class="container-fluid">
    <Test></Test>
    
    <div class="row">
        <div class="column left">
            <div style="height: 70vh; justify-content: center">
                <img style="max-width: 116px;max-height: 422px; horiz-align: center;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/Logo90deg.png" alt="">
            </div>
            <div style="height: 20vh;">
                <div class="rotate">
                    <a class="scroll" style="color: #848A99">SCROLL DOWN</a>
                </div>
            </div>
        </div>
        <div class="column right">
            
        </div>
    </div>
</div>

@code {
    
}