@inject IJSRuntime jsRuntime

<nav class="navbar navbar-expand-md navcolor">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <a style="color:white; horiz-align: center" class="nav-link">
             <div class="mobileOnly"><img style="max-width: 422px;max-height: 116px; horiz-align: center;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/Logo.png" alt=""></div>
        </a>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    About me
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Discover projects
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Design stuff
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Contact me
                </a>
            </li>
        </ul>
    </div>
</nav>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("renderjQueryComponents");
        await base.OnAfterRenderAsync(firstRender);
    }
    
}