<nav class="navbar navbar-expand-sm bg-primary">
    <hr>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">
                About me
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Discover projects
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Design stuff
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Contact me
            </a>
        </li>
    </ul>
</nav>

@code {
    
}