@page "/project_1"
@using WebPortfolio.Components

<Test></Test>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="column" style="margin-left: 10px">
                <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/CSharp.png" alt="">
            </div>
            <div class="column">
                <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/Java.png" alt="">
            </div>
            <div class="column">
                <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/SQL.png" alt="">
            </div>
        </div>
        <h1 style="color: #2DFCD8">3 Tier System</h1>
        <p>The project is an example of a 3-Tier distributed system communicating through REST-APIs. The first and the second tier are programmed in C#, however the server in the third tier is developed in Java with a connection to SQL database.</p>
    </div>
</div>

}