@page "/"
@using WebPortfolio.Components
@using Microsoft.JSInterop;
@using System.Threading


<Test></Test>

<div class="container wrapper">
    <h1>Hi,<br>I'm 
        <span style="color: #2DFCD8">Radovan</span>
        ,<br>discover me more</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="container">
                <h1 style="color: #2DFCD8">Me, myself and I</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                 
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-left: 30px">
    <h1>My created 
        <span style="color: #2DFCD8">projects</span>
    </h1>
    
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">3 Tier Architecture</h5>
                    <div class="row">
                        <div class="column" style="margin-left: 10px">
                            <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/CSharp.png" alt="">
                        </div>
                        <div class="column">
                            <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/Java.png" alt="">
                        </div>
                        <div class="column">
                            <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/SQL.png" alt="">
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px">The project is an example of a 3-Tier distributed system communicating through REST-APIs. The first and the second tier are programmed in C#, however the server in the third tier is developed in Java with a connection to SQL database. Try it and enjoy!</p>
                    <a href="#" class="btn btn-main">Discover</a>
                </div>
            </div>
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tic Tac Toe</h5>
                    <div class="row">
                        <div class="column" style="margin-left: 10px">
                            <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/JS.png" alt="">
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px">Demonstration of creating popular game TicTacToe with a lot of functionalities programmed in C# using Blazor web framework.</p>
                    <a href="#" class="btn btn-main">Discover</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Watering System</h5>
                    <div class="row">
                        <div class="column" style="margin-left: 10px">
                            <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/Python.png" alt="">
                        </div>
                        <div class="column">
                            <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/SQL.png" alt="">
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px">The project is an example of a 3-Tier distributed system communicating through REST-APIs. The first and the second tier are programmed in C#, however the server in the third tier is developed in Java with a connection to SQL database. Try it and enjoy!</p>
                    <a href="#" class="btn btn-main">Discover</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Rent4U</h5>
                    <div class="row">
                        <div class="column" style="margin-left: 10px">
                            <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/Java.png" alt="">
                        </div>
                        <div class="column">
                            <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/SQL.png" alt="">
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px">The project is an example of a 3-Tier distributed system communicating through REST-APIs. The first and the second tier are programmed in C#, however the server in the third tier is developed in Java with a connection to SQL database. Try it and enjoy!</p>
                    <a href="#" class="btn btn-main">Discover</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">3 Tier Architecture</h5>
                    <p class="card-text" style="font-size: 15px">The project is an example of a 3-Tier distributed system communicating through REST-APIs. The first and the second tier are programmed in C#, however the server in the third tier is developed in Java with a connection to SQL database. Try it and enjoy!</p>
                    <a href="#" class="btn btn-main">Discover</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">3 Tier Architecture</h5>
                    <div class="row">
                        <div class="column" style="margin-left: 10px">
                            <img class="img-responsive" style="max-width: 40px; max-height: 40px;" src="https://raw.githubusercontent.com/radovansanta/WebPortfolio/master/WebPortfolio/Images/JS.png" alt="">
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 15px">The project is an example of a 3-Tier distributed system communicating through REST-APIs. The first and the second tier are programmed in C#, however the server in the third tier is developed in Java with a connection to SQL database. Try it and enjoy!</p>
                    <a href="#" class="btn btn-main">Discover</a>
                </div>
            </div>
        </div>
    </div>
</div>



@code{
    
    

}